
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html {
  margin: 0;
  padding: 0;
  //fixed the footer
  min-height: 100%;
  position: relative !important;
}
body {
  //font-size: 62.5%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  .table tbody tr td{
    vertical-align: middle;
  }
  .shopping-cart-icon {
    padding-right: 5px;
    color: #FF5722;
  }
  .shopping-cart-count {
  }
}
.main-content {
  //fixed the footer
  margin: 0 15px;
  padding: 0 15px 60px;
}
//首页与收藏
.products-index-page, .products-favorites-page {
  .search-form {
    padding: 0 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .products-list {
    padding: 0 10px;
    .product-item {
      padding: 0 5px;
      margin-bottom: 10px;
      .product-content {
        border: 1px solid #eee;
        .top {
          padding: 5px;
          .img {
            display:table-cell;
            text-align:center;
            vertical-align:middle;
            //height: 215px;
          }
          img {
            width: 100%;
          }
          .price {
            margin-top: 5px;
            font-size: 1em;
            color: #ff0036;
            b {
              font-size: 1em;
            }
          }
          .title {
            margin-top: 10px;
            font-size: 12px;
          }
        }
        .bottom {
          font-size: 12px;
          display: flex;
          .sold_count span {
            color: #b57c5b;
            font-weight: bold;
          }
          .review_count span {
            color: #38b;
            font-weight: bold;
          }
          .favor {
            color: #ff5722;
            font-size: 18px;
          }
          .favor:hover {
            cursor:pointer;
          }
          &>div {
            text-align: center;
            &:last-child {
              border-right: 0;
            }
            border-right: 1px solid #eee;
            padding: 10px 5px;
            line-height: 12px;
            flex-grow: 1;
            border-top: 1px solid #eee;
          }
        }
      }
    }
  }
}
//商品详情
.products-show-page {
  .cover {
    width: 100%;
    border: solid 1px #eee;
    padding: 30px 0;
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .price {
    label {
      width: 69px;
      color: #999;
      font-size: 12px;
      padding-left: 10px;
    }
    em {
      font-size: 18px;
      font-style: normal;
      text-decoration: none;
      vertical-align: middle;
    }
    span {
      font-size: 24px;
      font-weight: bolder;
      text-decoration: none;
      vertical-align: middle;
    }
    line-height: 30px;
    background-color: #e9e9e9;
    color: red;
    font-size: 20px;
  }
  .sales_and_reviews {
    border-top: 1px dotted #c9c9c9;
    border-bottom: 1px dotted #c9c9c9;
    margin: 5px 0 10px;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    font-size: 12px;
    &>div {
      &.sold_count,&.review_count {
        border-right: 1px dotted #c9c9c9;
      }
      width: 33%;
      text-align: center;
      padding: 5px;
      .count {
        color: #FF0036;
        font-weight: 700;
      }
    }
  }
  .skus {
    &>label {
      color: #999;
      font-size: 12px;
      padding: 0 10px 0 10px;
    }
    .btn-group {
      margin-left: -10px;
      label {
        border-radius: 0 !important;
        margin: 1px 5px;
        padding: 2px 5px;
        font-size: 12px;
      }
      .btn-default.active, .btn-default:hover {
        //margin-top: 0 !important;
        background: #fff !important;
        border: 1px solid red !important;
        color: #F40;
      }
      .btn.focus {
        outline: 0 !important;
      }
    }
  }
  .cart_amount {
    label {
      color: #999;
      font-size: 12px;
      padding: 0 10px 0 10px;
    }
    font-size: 12px;
    color: #888;
    margin: 10px 0 20px;
    input {
      width: 50px;
      display: inline-block;
      border-radius: 0 !important;
    }
    span {
      color: #999;
      font-size: 12px;
      padding-left: 10px;
    }
  }
  .buttons {
    padding-left: 44px;
    .btn-disfavor {
      color: #ff5722;
    }
  }

  .product-detail  {
    .nav.nav-tabs > li > a {
      border-radius: 0 !important;
    }
    margin: 20px 0;
    .tab-content {
      border: 1px solid #eee;
      padding: 20px;
    }
  }
}
//购物车
.cart-index-page {
  .product_list {
    .preview {
      img {
        max-width: 80px;
        max-height: 80px;
      }
      margin-right: 20px;
    }
    tr {
      border-bottom: 1px solid #ddd;
      td {
        border: 0;
      }
    }

    .product_info {
      display: -webkit-flex; /* Safari */
      -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
      display: flex;
      align-items: flex-start;
      font-size: 12px;
      .product_title, .sku_title, .warning {
        display: block;
      }

      .product_title a {
        color: #3c3c3c;
        font-size: 14px;
      }
      .not_on_sale {
        .product_title, .sku_title {
          text-decoration: line-through;
        }
        .warning {
          color: red;
        }
      }
    }

    .price {
      font-size: 12px;
      font-weight: 700;
      color: #3c3c3c;
    }

    input.amount {
      width: 60px;
      border-radius: 0 !important;
    }
  }
}

// 订单列表
.orders-index-page {
  .list-group-item {
    font-size: 12px;
    border: none;
    padding: 0;
    margin-bottom: 15px;
    .panel {
      margin: 0;
      .panel-body {
        padding: 0;
        .table {
          tr {
            border-bottom: 1px solid #ddd;
            td {
              border: 0;
            }
            td[rowspan] {
              border-left: 1px solid #ddd;
            }
          }
          margin: 0;
          .product-info {
            display: flex;
            flex-direction: row;
            .preview {
              img {
                max-width: 80px;
                max-height: 80px;
              }
              border: 1px solid #eee;
              margin-right: 5px;
            }
            .product-title, sku-title {
              display: block;
            }
            .product-title > a {
              color: #3c3c3c;
            }
            sku-title {
              color: #9e9e9e;
            }
          }
          .total-amount {
            font-weight: bolder;
          }
        }
      }
    }
  }
}

// 订单详情
.orders-show-page {
  font-size: 12px;
  .vertical-middle {
    vertical-align: middle;
  }
  table {
    tr {
      border-bottom: 1px solid #ddd;
    }
    .product-info {
      border: 0;
      height: 100%;
      display: flex;
      flex-direction: row;
      .preview {
        img {
          max-width: 80px;
          max-height: 80px;
        }
        border: 1px solid #eee;
        margin-right: 5px;
      }
      .product-title, sku-title {
        display: block;
      }
      .product-title > a {
        color: #3c3c3c;
      }
      sku-title {
        color: #9e9e9e;
      }
    }
  }
  .table {
    margin-bottom: 0;
  }
  .item-amount {
    padding-right: 20px;
    width: 200px;
  }
  .order-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  .order-info {
    width: 50%;
    .line {
      display: flex;
      flex-direction: row;
      .line-label {
        width: 80px;
        text-align: right;
      }
      .line-value {
        flex-shrink: 100;
      }
    }
    border-right: 1px solid #ddd;
  }
  .order-summary {
    width: 50%;
    .total-amount {
      font-weight: bolder;
      font-size: 14px;
    }
    .value {
      display: inline-block;
      width: 150px;
      padding-right: 20px;
    }
  }
}

// 页脚
.footer {
  //fixed the footer
  position: absolute;
  bottom: 0;
  width: 100% ;
  height: 60px;
  line-height: 60px;
  background-color: #000;

  .container {
    p {
      color: #c1c1c1;
      margin: 0;
      a {
        color: inherit;
      }
    }
  }
}